/*

body
{
	position: absolute;
}
*/

#mainDiv
{
	position: absolute;
	width: 100%;
}
.done-true 
{
	color: #000;
	background-color: #F00;
}

.done-false
{
  	color: #000;
}

.alignCenter
{
	margin-left: auto;
	margin-right: auto;
}

.noGutters
{
	margin: 0px;
	padding: 0px;
}

select
{
	width: 31%;
	height: 25px;
}

input[type=text]
{
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	padding-left: 5px;
}

input[type=radio]
{
	width: 30%;
}

button
{
	width: 50%;	
	height: 50px;
	float: left;	
}

#form
{
	background-color: #F00;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

h3
{
	padding-left: 5px;
}

/* setting list items 100% width
https://stackoverflow.com/questions/18756040/making-an-unordered-list-stretch-horizontally-so-as-to-always-fill-up-a-div */
ul 
{	padding: 0; 
	margin: 0; 
	white-space:nowrap; 
}

li 
{
	width: 100%; 
	list-style-type: none; 
	padding-left: 20px;
}