body
{
	background-image: url(../images/background.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto;
	min-width: 300px;
}

#header
{	
	background: #EFEFEF;
	height: 60px;;
	border-bottom: 2px dashed #999;
	min-width: 300px;
}

.floatLeft
{
	float: left;
	width: 50%;
}

.floatRight
{
	float: right;
	width: 50%;
}

.done-true 
{
	color: #FFF;
	background-color: #a23232;
	
}

.done-false
{
  	color: #000;
}

.alignCenter
{
	margin-left: auto;
	margin-right: auto;
}

.noGutters
{
	margin: 0px;
	padding: 0px;
}

select
{
	width: 31%;
	height: 25px;
}

input[type=text]
{
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	padding-left: 5px;
}

input[type=radio]
{
	width: 30%;
}

button
{
	width: 50%;	
	height: 50px;
	float: left;	
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: 400;
	color: #FFF;
}

#form
{
	background-color: #EFEFEF;
	position: absolute;
	bottom: 0px;
	border-top: 2px dashed #999;
}
.noBorder
{
	border-top: 0px;
}
h1
{
	
	padding-left: 5px;
	font-family: 'Amatic SC', cursive;
	padding-top: 10px;
	margin-top: 0px;
	padding-bottom: 10px;
	margin-bottom: 0px;	
	/*border-bottom: 1px dashed #000;*/
}

ul 
{	padding: 0; 
	margin: 0; 
	white-space: wrap; 
}

li 
{	
	list-style-type: none; 
	padding-left: 20px;
	font-size: 20px;
	line-height: 30px;
}

.green
{
	background-color: #006400;
}

.red
{
	background-color: #8B0000;
}