.done-true 
{
  text-decoration: line-through;
  color: grey;
}

.done-false
{
  color: #F00;
}

.alignCenter
{
	margin-left: auto;
	margin-right: auto;
}

.noGutters
{
	margin: 0px;
	padding: 0px;
}

select
{
	width: 31%;
	height: 25px;
}

input[type=text]
{
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	padding-left: 5px;

	
}

input[type=radio]
{
	width: 30%;
}


button
{
	width: 50%;	
	height: 50px;
	float: left;
	
	
}




#form
{
	background-color: #F00;

	position: absolute;
	bottom: 0px;
}